server:
  port: 8081

spring:
  application:
    name: service-b

grpc:
  server:
    port: 9091

management:
  endpoints:
    web:
      exposure:
        include: health,metrics,prometheus
  metrics:
    export:
      prometheus:
        enabled: true

logging:
  level:
    com.example.serviceb: INFO